/* font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

/* common style  */
.main-container{
    margin-left: 120px;
    margin-right: 120px;
}
/* common style  */

/* header  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 87px;
    color: #3A3A3A;
}
.left-nav h1{
    font-size: 1.5rem;
    font-weight: 700;
}
.right-nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 34px;
}
.right-nav ul li a{
    text-decoration: none;
    color: #3A3A3A;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    color: #3A3A3A;
    align-items: center;
    margin-top: 50px;
}
.hero-section .left-hero h1{
    font-size: 3.25rem;
    font-weight: 700;
}
.hero-section .left-hero p{
    max-width: 505px;
    font-weight: 600;
}
.hero-btn{
    margin-top: 16px;
    padding: 10px 24px;
    color: white;
    background-color: #E02C6D;
    border-radius: 20px;
    border: none;
    font-weight: 700;
}
.right-hero{
    background-image: url("../images/Circle design.svg");
    background-position: center;
    background-repeat: no-repeat;
   
}
.right-hero img{
    padding: 80px;
}
/* header  */
